body {
	font: 11px Arial, Helvetica, sans-serif;
	background: #ffffff url(images/main-bg.gif);
	padding: 0;
	margin: 0;
}
img {
	border: none;
}

/* dock - top */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg2.gif);
	padding-left: 20px;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none; 
	padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
	width: 100%;
	bottom: 0px;
	position: absolute;
	left: 0px;
}
.dock-container2 {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg.gif);
	padding-left: 20px;
}
a.dock-item2 {
	display: block; 
	font: bold 12px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	padding-left: 20px;
}
.dock-item2 img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}


.modal-background
{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#777;
    -moz-opacity:.50; 
    filter:alpha(opacity=50); 
    opacity:.50;
}

.window-container
{
	width:350px;
	position:absolute;
	left:350;
	top:200;
	font-size:13px;
	font-family:verdana;
}

.window-titleBar
{
    height:23px;
    margin:0 9px 0 9px;
    text-align:center;
}

.window-titleBar-content
{
    height:23px;
    text-align:center;
    padding-top:5px;
    background: transparent url(images/top_mid.gif) repeat-x;
	cursor: move;
}

.window-titleBar-leftCorner
{
	background: transparent url(images/top_left.gif) no-repeat;			
    width:9px;
    height:23px;
    position: absolute;
	left: 0px;
	top: 0px;
}

.window-titleBar-rightCorner
{
	background: transparent url(images/top_right.gif) no-repeat;			
    width:9px;
    height:23px;
    position: absolute;
	right: 0px;
	top: 0px;
}

.window-minimizeButton
{
    width: 14px;
	height: 14px;
	background: transparent url(images/minimize.gif) no-repeat 0 0;
	position: absolute;
	left: 35px;
	top: 5px;
	cursor: pointer;
}

.window-maximizeButton
{
    width: 14px;
	height: 14px;
    background: transparent url(images/maximize.gif) no-repeat 0 0;
	position: absolute;
	left: 55px;
	top: 5px;
	cursor: pointer;
}

.window-closeButton
{
    width: 14px;
	height: 14px;
	background: transparent url(images/close.gif) no-repeat 0 0;	
	position: absolute;
	left: 15px;
	top: 5px;
	cursor: pointer;
}


.window-content
{
	height:100%;
	background-color:#FFFFFF;
	font-size:13px;
	font-family:verdana;
	color:#000000;
    border-left:1px solid #AAA;
    border-right:1px solid #AAA;
    overflow:auto;
}


.window-statusBar
{
	height:19px;
    position: relative;
    border-left:1px solid #AAA;
	overflow: hidden;
    background: transparent url(images/bottom_mid.gif) repeat-x;
}

.window-resizeIcon
{
    width: 9px;
	height: 19px;
    background: transparent url(images/sizer.gif) no-repeat;
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: se-resize;
}
